* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea {
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
  font-family: "Rubik", sans-serif;
}

.masthead {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 1em 2em;
  background-color: rgb(0, 0, 0);
  color: rgb(244, 240, 233);
}

.masthead h1 {
  grid-row: 1/3;
  grid-column: 1;
  text-align: center;
  align-self: center;
  font-family: "Ubuntu", sans-serif;
  justify-self: center;
}

.masthead .links {
  grid-row: 1/3;
  grid-column: 1;
  justify-self: end;
}

.masthead img {
  border: 5px solid black;
  margin: 0 0.5em;
  cursor: pointer;
}

.masthead .hp {
  width: 110px;
}

.masthead .lotr {
  width: 118px;
}

.intro {
  padding: 2em 2em;
  color: #ffffff;
  background: #3e1e00;
  box-shadow: inset -1px -1px 77px -6px rgba(0, 0, 0, 0.75);
}

.intro p {
  margin: 0 auto;
  max-width: 580px;
}

.background-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/lord-of-the-rings.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}

h2 {
  padding: 1em 0;
  text-align: center;
  color: #ededede3;
  font-size: 2.5em;
  font-family: "Old Standard TT", serif;
}

.test-area {
  margin: 0 auto;
  max-width: 750px;
}

.test-area {
  margin-bottom: 4em;
  padding: 0 2em;
}

.test-wrapper {
  border: 10px solid grey;
  border-radius: 10px;
}

#origin-text {
  margin-bottom: 1em;
  padding: 1em 1em 0;
  background-color: #ededede3;
  max-width: 650px;
}

.text-selector {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

i {
  border: solid #ededede3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  font-size: 3em;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

#origin-text p {
  margin: 0;
  padding-bottom: 1em;
  min-height: 235px;
}

.test-wrapper {
  display: flex;
}

.test-wrapper textarea {
  flex: 1;
  background: #ededede3;
}

.meta {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  font-family: "Old Standard TT", serif;
}

.timer {
  font-size: 3em;
  font-weight: bold;
  width: 250px;
}

#reset {
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background: rgba(129, 10, 6, 0.788);
  cursor: pointer;
}

#reset:hover {
  color: white;
  background-color: rgb(4, 77, 4);
}

.results {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.results span {
  display: inline-block;
  width: 30px;
}
